/* Estilo para el contenedor principal */
.container {
    width: 90%;
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    max-width: 1200px; /* Opcional: Establece un ancho máximo para pantallas grandes */
    padding: 20px;
    position: relative; /* Asegura que los elementos hijos posicionados se ubiquen dentro de este contenedor */
}

/* Estilo para el botón de cerrar sesión */
#logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    width: 200px;
    font-size: 14px;
    background-color: #f44336; /* Color rojo para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#logout-button:hover {
    background-color: #d32f2f; /* Color más oscuro al pasar el mouse */
}

/* Estilo para los campos de entrada */
.input-field, textarea, input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.input-field:focus, textarea:focus, input[type="email"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px #66afe9;
}

/* Estilo para los elementos de la lista */
li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

li:hover {
    background-color: #f1f1f1;
}

/* Estilo para el título */
#page-title {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para la sección del selector de idioma */
.language-selector {
    margin-bottom: 20px;
}

.language-selector label {
    font-size: 14px;
    margin-right: 5px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

h3 {
    color: #4CAF50;
}

textarea {
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.keys, .messages {
    margin-top: 20px;
}

.keys p, .messages p {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.messages ul {
    list-style-type: none;
    padding: 0;
}

.messages li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.messages li:hover {
    background-color: #f1f1f1;
}

input[type="file"] {
    display: none;
}

.email-container {
    margin-bottom: 10px;
}

.email-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="email"] {
    height: 40px;
    font-size: 16px;
}

/* Estilos para las secciones */
.section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.section h3 {
    margin-top: 0;
}

#keys-section {
    background-color: #e0f7fa;
}

#encryption-section {
    background-color: #fce4ec;
}

#decryption-section {
    background-color: #f3e5f5;
}

#messages-section {
    background-color: #fff9c4;
}